<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">Categories</a>
  </li>
  <li class="breadcrumb-item active"></li>
</ol>

<div *ngIf="isLoading" class="lds-ripple"><div></div><div></div></div>
<div class="row">
  <div class="col-12 mb-3">
    <form *ngIf="isAdding">
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Name" name="name" [(ngModel)]="newCategory.name">
        </div>
        <div class="col">
          <input type="file" (change)="onFileChanged($event)">
          <!--<button (click)="imgInput.click()">Select File</button>-->
        </div>
        <div class="col">
          <button type="button" class="btn btn-success" (click)="submitContent()">Submit</button>
        </div>
      </div>
    </form>
    <button *ngIf="!isAdding" (click)="addingMode()" type="button" class="btn btn-success">Add</button>
  </div>
</div>
<div class="row">
  <div class="col-12 mb-3">
    <div class="card" style="width: 80%;">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Image</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let category of categories">
          <th scope="row">{{category.id}}</th>
          <td>{{category.name}}</td>
          <td><img src="{{category.image}}" width="200px"></td>
          <td>
            <button type="button" class="btn btn-success" (click)="editCategory(category)">Edit</button>
            <button type="button" class="btn btn-danger" (click)="deleteCategory(category.id)">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

