<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">Categories</a>
  </li>
  <li class="breadcrumb-item active"></li>
</ol>

<div *ngIf="isLoading" class="lds-ripple"><div></div><div></div></div>
<div class="row">
  <div class="col-12 mb-3">
    <form *ngIf="isAdding">
      <h3>{{newCategory.id ? 'Editing' : 'Creating'}}</h3>
      <div class="card">
        <div class="card-body">

          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" placeholder="Name" id="name" name="name" [(ngModel)]="newCategory.name">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="image">Image</label>
                <input type="file" id="image" class="form-control" (change)="onFileChanged($event)">
              </div>
            </div>
            <div class="col">
                <div class="form-group">
                  <button type="button" id="sumbitBtn" class="align-self-end btn btn-success" (click)="submitContent()">Submit</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </form>
    <button *ngIf="!isAdding" (click)="addingMode()" type="button" class="btn btn-success">Add</button>
  </div>
</div>
<div class="row">
  <div class="col-12 mb-3">
    <div class="card">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Image</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let category of categories">
          <th scope="row">{{category.id}}</th>
          <td class="display-max-text">{{category.name}}</td>
          <td><img src="{{category.image}}" width="200px"></td>
          <td>
            <button type="button" class="btn btn-success" (click)="editCategory(category)">Edit</button>
            <button type="button" class="btn btn-danger" (click)="deleteCategory(category.id)">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

